#ignore html asset folder
public/data
public/assets/bootstrap
public/assets/icons
public/assets/img
public/assets/js
public/assets/less
public/assets/lib
public/assets/web.config
public/bower_components/web.config
public/iisstart.htm
public/web.config
public/welcome.png
