<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Customers</li>
	</ol>

	<h1>Add new customer</h1>
	<div class="options">
		<div class="btn-toolbar">
			<a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
		</div>
	</div>
</div>

<div class="container-fluid" ng-controller="customerController">
	<form class="form-horizontal row-border" name="userForm" ng-submit="submit()" novalidate>
		<panel panel-class="panel-midnightblue" heading="Personal information">
			<!-- Type -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Type</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="customer.type">
						<option value="0">Residential</option>
						<option value="1">Commercial</option>
						<option value="2">Rental</option>
					</select>
				</div>
			</div>

			<!-- First name -->
			<div class="form-group" ng-class="{'has-error': userForm.first_name.$invalid && !userForm.first_name.$pristine}">
				<label class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="first_name" ng-model="customer.first_name" required>
				</div>
				<span class="help-block" ng-show="userForm.first_name.$invalid && !userForm.first_name.$pristine">This field is required.</span>
			</div>

			<!-- Last name -->
			<div class="form-group" ng-class="{'has-error': userForm.last_name.$invalid && !userForm.last_name.$pristine}">
				<label class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="last_name" ng-model="customer.last_name" required>
				</div>
				<span class="help-block" ng-show="userForm.last_name.$invalid && !userForm.last_name.$pristine">This field is required.</span>
			</div>

			<!-- Address -->
			<div class="form-group" ng-class="{'has-error': userForm.address.$invalid && !userForm.address.$pristine}">
				<label class="col-sm-3 control-label">Address</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="address" ng-model="customer.address" required>
				</div>
				<span class="help-block" ng-show="userForm.address.$invalid && !userForm.address.$pristine">This field is required.</span>
			</div>

			<!-- Address 2 -->
			<div class="form-group" ng-class="{'has-error': userForm.address2.$invalid && !userForm.address2.$pristine}">
				<label class="col-sm-3 control-label">Address 2</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="address2" ng-model="customer.address2" required>
				</div>
				<span class="help-block" ng-show="userForm.address2.$invalid && !userForm.address2.$pristine">This field is required.</span>
			</div>


			<!-- State -->
			<div class="form-group" ng-class="{'has-error': userForm.state.$invalid && !userForm.state.$pristine}">
				<label class="col-sm-3 control-label">State</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="customer.state" ng-options="state.abbreviation as state.abbreviation for state in states"></select>
				</div>
				<span class="help-block" ng-show="userForm.state.$invalid && !userForm.state.$pristine">This field is required.</span>
			</div>

			<!-- City -->
			<div class="form-group" ng-class="{'has-error': userForm.city.$invalid && !userForm.city.$pristine}">
				<label class="col-sm-3 control-label">City</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="city" ng-model="customer.city" required>
				</div>
				<span class="help-block" ng-show="userForm.city.$invalid && !userForm.city.$pristine">This field is required.</span>
			</div>

			<!-- Zipcode -->
			<div class="form-group" ng-class="{'has-error': userForm.zipcode.$invalid && !userForm.zipcode.$pristine}">
				<label class="col-sm-3 control-label">Zipcode</label>
				<div class="col-sm-6">
					<input type="number" class="form-control" name="zipcode" ng-model="customer.zip" required>
				</div>
				<span class="help-block" ng-show="userForm.zipcode.$invalid && !userForm.zipcode.$pristine">Enter a valid zipcode.</span>
			</div>

			<!-- Phone 1 -->
			<div class="form-group" ng-class="{'has-error': userForm.phone1.$invalid && !userForm.phone1.$pristine}">
				<label class="col-sm-3 control-label">Phone Number #1</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="phone1" ng-model="customer.phone1" required>
				</div>
				<span class="help-block" ng-show="userForm.phone1.$invalid && !userForm.phone1.$pristine">Enter a valid phone number.</span>
			</div>

			<!-- Phone 2 -->
			<div class="form-group" ng-class="{'has-error': userForm.phone2.$invalid && !userForm.phone2.$pristine}">
				<label class="col-sm-3 control-label">Phone Number #2</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="customer.phone2">
				</div>
				<span class="help-block" ng-show="userForm.phone2.$invalid && !userForm.phone2.$pristine">Enter a valid phone number.</span>
			</div>

			<!-- Email -->
			<div class="form-group" ng-class="{'has-error': userForm.email.$invalid && !userForm.email.$pristine}">
				<label class="col-sm-3 control-label">Email</label>
				<div class="col-sm-6">
					<input type="email" class="form-control" name="email" ng-model="customer.email" required>
				</div>
				<span class="help-block" ng-show="userForm.email.$invalid && !userForm.email.$pristine">Enter a valid email.</span>
			</div>

			<!-- Builder #1 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Builder #1</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="customer.builder_1" ng-options="builder.id as builder.name for builder in builders"></select>
				</div>
				<span>{{ customer }}</span>
			</div>

			<!-- Builder #2 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Builder #2</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="customer.builder_2" ng-options="builder.id as builder.name for builder in builders"></select>
				</div>
			</div>

			<!-- Builder #3 -->
			<div class="form-group">
				<label class="col-sm-3 control-label">Builder #3</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="customer.builder_3" ng-options="builder.id as builder.name for builder in builders"></select>
				</div>
			</div>

			<!-- Notes -->
<!-- 			<div class="form-group">
				<label class="col-sm-3 control-label">Notes</label>
				<div class="col-sm-6">
					<textarea rows="5" class="form-control" name="notes" ng-model="customer.notes" />
				</div>
			</div> -->

			<!-- Labels -->
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<label class="col-sm-1 control-label">Make</label>
				<label class="col-sm-2 control-label">Model#</label>
				<label class="col-sm-2 control-label">Serial#</label>
			</div>

			<!-- Equipment details -->
			<div ng-repeat="n in [] | range:5">
				<div class="col-sm-3"></div>
				<div class="col-sm-2">
					<input type="text" class="form-control" name="year" foong-model="">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" name="year" foong-model="">
				</div>
				<div class="col-sm-2">
					<input type="text" class="form-control" name="year" foong-model="">
				</div>
				<div class="form-group"></div>
			</div>

			<!-- How did you hear about it? -->
			<div class="form-group">
				<label class="col-sm-3 control-label">How did you hear about us?</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="customer.referral">
						<option value="0">TV Commercial</option>
						<option value="1">Word of Mouth</option>
						<option value="2">Online Search</option>
					</select>
				</div>
			</div>

			<!-- Error -->
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<alert ng-show="showError" type="danger"><span style="white-space:pre">{{ errorMsg }}</span></alert>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div class="btn-toolbar">
							<button type="submit" class="btn-primary btn" ng-disabled="userForm.$invalid">Submit</button>
							<a href="#/users"><button type="submit" class="btn-default btn" ng-show="mode==='edit'">Back to list</button></a>
							<button type="reset" class="btn-default btn" ng-hide="mode==='edit'">Reset</button>
						</div>
					</div>
				</div>
			</div>
		</panel>
	</form>
</div>

