<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a>
		</li>
		<li class="active">Task List</li>
	</ol>

	<h1>Task List</h1>
	<div class="options">
		<div class="btn-toolbar">
			<div class="btn-group" dropdown>
				<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
					Export as <span class="caret"></span>
				</button>
			</div>
			<a href="#" class="btn btn-default hidden-xs"><i class="glyphicon glyphicon-cog"></i></a>
		</div>
	</div>
</div>

<div class="container-fluid" ng-controller="taskAdminController" ng-init="setLoadMode(false)">
	<div class="row">
		<div class="col-md-12">
			<panel heading="Current incompleted tasks" panel-class="panel-default">
				<panel-controls>
					<panel-control-collapse></panel-control-collapse>
				</panel-controls>
				<div id="searchForm">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="row">
								<!-- Task Description te	xtbox -->
								<label class="col-md-1 control-label" for="textinput">Task Description</label>
								<div class="col-md-2">
									<input type="text" class="form-control" ng-model="search_params.task_description"/>
								</div>
								<!-- Assigned By combobox -->
								<label class="col-md-1 control-label" for="selectbasic">Assigned By</label>
								<div class="col-md-2">
									<select ng-model="search_params.assigned_by" ng-options="user.id as user.full_name for user in user_list" class="form-control" />
								</div>
								<!-- Assign To combobox -->
								<label class="col-md-1 control-label" for="selectbasic">Assigned To</label>
								<div class="col-md-2">
									<select ng-model="search_params.assignee" ng-options="user.id as user.full_name for user in user_list" class="form-control" />
								</div>
								<!-- Search button -->
								<button ng-click="quickSearch(false)" class="btn btn-info col-md-1" data-toggle="tooltip" title="Quick Search" style="margin-left: 30px">
									<i class="glyphicon glyphicon-search"/>
								</button>
								<button ng-click="reset()" class="btn btn-brown col-md-1" data-toggle="tooltip" title="Reset" style="margin-left: 30px">
									<i class="glyphicon glyphicon-refresh"/>
								</button>
							</div>
							<br/>
							<div class="row" style="margin-left: 10px; margin-right: 10px">
								<alert ng-show="showResult" type="success">{{ resultMsg }}</alert>
							</div>
							<br/>
							<div class="row">
							</div>
						</div>
					</form>
				</div>
				<div id="mainGrid" ui-grid="gridOptions" class="grid">

				</div>
				<div class="panel-loading" ng-hide="dataLoaded">
					<div class="panel-loader-circular"></div>
				</div>
			</panel>
		</div>
	</div>
</div>
