<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a>
        </li>
        <li class="active">Task List</li>
        <li class="active">Edit Task</li>
    </ol>

    <h1>Task Editing</h1>
</div>
<div class="container-fluid" ng-controller="taskEditController">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">Assign to</label>
            <div class="col-sm-6">
                <select ng-model="task.assign_by" ng-options="user.id as user.full_name for user in user_list" class="form-control">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Due date</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control datepicker" datepicker-popup="{{format}}" ng-model="task.due_date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                    close-text="Close" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Task Description</label>
            <div class="col-sm-6">
                <textarea cols="10" rows="10" class="form-control" ng-model='task.task_description'></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <button class="btn btn-primary" ng-click="updateTask()">Save changes</button>
                <a href="#/tasks"><button class="btn btn-default">Back to task list</button>  </a>
            </div>
        </div>
    </form>
</div>