<div id="page-heading">
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a>
		</li>
		<li class="active">Ticket Management</li>
	</ol>

	<h1>Ticket Management</h1>
</div>

<div ng-controller="ticketsController" ng-init="setLoadMode(false)">
    <div class="container-fluid" >
    	<div class="row">
    		<div class="col-md-12">
    			<panel heading="Search" panel-class="panel-default">
    				<panel-controls>
    					<panel-control-collapse></panel-control-collapse>
    				</panel-controls>
    				<div id="searchForm">
    					<form class="form-horizontal" name="searchForm" ng-submit="quickSearch()">
    						<div class="form-group">
                                <label class="col-sm-1 control-label">Customer Name</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="search_params.name" class="form-control" name="customerName">
                                </div>
                                <label class="col-sm-1 control-label">Phone</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="search_params.phone" class="form-control" name="customerPhone">
                                </div>
                                <label class="col-sm-1 control-label">Street Number</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="search_params.address" class="form-control" name="customerAddress">
                                </div>
    						</div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label">From</label>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" datepicker-popup="MM-dd-yyyy" min-date="minDate" ng-model="search_params.jobDateFrom" name="jobDate" is-open="datePickerStatus.isOpen1" close-text="Close"  />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label">To</label>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" datepicker-popup="MM-dd-yyyy" min-date="minDate" ng-model="search_params.jobDateTo" name="jobDate" is-open="datePickerStatus.isOpen2" close-text="Close"  />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label">Assign Tech</label>
                                <div class="col-sm-3">
                                    <select ng-model="search_params.assign_by" name="status" ng-options="user.id as user.full_name for user in user_list" class="form-control" >
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label">Dispatch ID</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="search_params.dispatchId" class="form-control" name="dispatchId">
                                </div>
                                <label class="col-sm-1 control-label">Invoce #</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="search_params.invoice" class="form-control" name="invoice">
                                </div>
                                <label class="col-sm-1 control-label">Urgency</label>
                                <div class="col-sm-3">
                                    <select ng-model="search_params.urgency" name="urgency" ng-options="user.id as user.full_name for user in user_list" class="form-control" >
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary" ng-disabled="searchForm.$invalid">Search</button>
                                    <!-- <input type="submit" id="submit" value="Submit" /> -->

                                    <button class="btn btn-default" type="reset">Reset fields</button>
                                </div>
                            </div>

    					</form>
    				</div>

    			</panel>

                <panel heading="Ticket List" panel-class="panel-default">
                    <panel-controls>
    					<panel-control-collapse></panel-control-collapse>
    				</panel-controls>
    				<div id="mainGrid" ui-grid="gridOptions" class="grid">

                    </div>
                    <div class="panel-loading" ng-hide="dataLoaded">
                       <div class="panel-loader-circular"></div>
                    </div>
                </panel>
    		</div>
    	</div>
    </div>
</div>
