<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a>
        </li>
        <li class="active">Ticket List</li>
        <li class="active">New Ticket</li>
    </ol>

    <h1>New Ticket</h1>
</div>

<div class="container-fluid">
    <panel panel-class="panel-midnightblue" heading="Create a new service ticket">
        <form class="form-horizontal" name="customerForm" ng-submit="submitCustomerInfo()" novalidate>
            <fieldset>
                <legend>Customer information</legend>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="customerName">Name</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="customer.name" class="form-control" name="customerName" required ng-disabled="disabledEdit" placeholder="enter name to search">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Address</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="customer.address" class="form-control" name="address" ng-required="isCreateCustomer" ng-disabled="disabledEdit" placeholder="enter address to search">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="builder">Builder</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-change="builderChange()" ng-model="customer.builder" ng-options="builder.builder_id as builder.full_name for builder in customer.builders" required></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">City</label>
                    <div class="col-sm-1">
                        <input type="text" ng-model="customer.city" class="form-control" name="city" ng-required="isCreateCustomer" ng-disabled="disabledEdit">
                    </div>
                    <label class="col-sm-1 control-label" for="state">State</label>
                    <div class="col-sm-1">
                        <input type="text" ng-model="customer.state" class="form-control" name="state" ng-required="isCreateCustomer" ng-disabled="disabledEdit">
                    </div>
                    <label class="col-sm-1 control-label" for="zipcode">Zip</label>
                    <div class="col-sm-1">
                        <input type="text" ng-model="customer.zipcode" class="form-control" name="zipcode" ng-required="isCreateCustomer" ng-disabled="disabledEdit">
                    </div>
                    <div class="help-block" ng-show="(customerForm.city.$invalid || customerForm.state.$invalid || customerForm.zip.$invalid) && isCreateCustomer">
                        <span ng-show="customerForm.city.$invalid">City field is required. </span>
                        <span ng-show="customerForm.state.$invalid">State field is required. </span>
                        <span ng-show="customerForm.zip.$invalid">Zip field is required. </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="phone1" ng-disabled="disabledEdit">Phone 1</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="customer.phone1" class="form-control" name="phone1" ng-disabled="disabledEdit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="phone2" ng-disabled="disabledEdit">Phone 2</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="customer.phone2" class="form-control" name="phone2" ng-disabled="disabledEdit">
                    </div>
                </div>
                <div class="alert alert-info" ng-show="customerNonExist">
                    <p>We couldn't find this customer. Please try again or create a new customer</p>
                </div>
                <div class="form-group" >
                    <div class="col-sm-3 col-sm-offset-1">
                        <button type="submit" id="search_customer_button" class="btn btn-primary">Search</button>
                        <button type="button" id="resetSearch" class="btn" ng-click="resetSearch()">Reset</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" for="phone">Search Result</label>
                    <div class="col-sm-5">
                        <select class="form-control" ng-model="selectedCustomer.id" ng-options="customer.id as customer.full_description for customer in customers" ng-change="customerChange()" required></select>
                    </div>
                </div>
            </fieldset>
        </form>

        <form class="form-horizontal" name="mainForm" ng-submit="submit()" novalidate>
        <fieldset>
            <!-- Form Name -->
            <legend>Create a new service ticket</legend>

            <div class="form-group">
              <label class="col-sm-1 control-label" for="assign_to">Status</label>
              <div class="col-sm-2">
                <select ng-model="ticket.status" name="status" ng-options="status.id as status.text for status in statuses" class="form-control" required>
                </select>
              </div>
              <label class="col-sm-1 control-label" for="assign_to">Ticket type</label>
              <div class="col-sm-2">
                <select ng-model="ticket.ticket_type" name="type" class="form-control" required>
                    <option value="0">Original</option>
                    <option value="1">Recalled</option>
                </select>
              </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Invoice #</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="ticket.invoice_id" class="form-control" name="invoice_id" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Office #</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="ticket.office_id" class="form-control" name="office_id" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Dispatch ID</label>
                <div class="col-sm-5">
                    <input type="text" ng-model="ticket.dispatch_id" class="form-control" name="dispatchId" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Problem</label>
                <div class="col-sm-5">
                    <div class="col-sm-4" ng-repeat="prob in ticket.problem">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="prob.status"> {{ prob.text }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="officeNote">Office Notes</label>
                <div class="col-sm-5">
                    <textarea rows="2" class="form-control" name="officeNote" ng-model="ticket.office_note" ng-keypress="officeNoteKeyPressed($event)"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="jobNote">Job Notes</label>
                <div class="col-sm-5">
                    <textarea rows="2" class="form-control" name="jobNote" ng-model="ticket.job_note"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Assign Techician</label>
                <div class="col-sm-2">
                    <select ng-model="ticket.assign_tech" name="technician" ng-options="employee.id as employee.full_name for employee in employee_list" class="form-control" required>
                    </select>
                </div>

                <label class="col-sm-1 control-label">Seller</label>
                <div class="col-sm-2">
                    <select ng-model="ticket.seller" name="seller" ng-options="employee.id as employee.full_name for employee in employee_list" class="form-control" required>
                    </select>
                </div>
               <div class="help-block" ng-show="mainForm.technician.$invalid || mainForm.seller.$invalid">
                    <span ng-show="mainForm.technician.$invalid">Please assign to an technician. </span>
                    <span ng-show="mainForm.seller.$invalid">Please select a seller </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Job date</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" datepicker-popup="MM-dd-yyyy" min-date="minDate" ng-model="ticket.job_date" name="jobDate" is-open="datePickerStatus.isOpenJobDate" close-text="Close" required />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openJobdate($event)"><i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="help-block" ng-show="mainform.jobDate.$invalid">
                    This field is required.
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Promised date</label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" datepicker-popup="MM-dd-yyyy" min-date="minDate" ng-model="ticket.promised_date" name="promisedDate" is-open="datePickerStatus.isOpenPromisedDate" close-text="Close" required />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openPromiseddate($event)"><i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="help-block" ng-show="mainform.promisedDate.$invalid">
                    This field is required.
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label ">Promised Time</label>
                <label class="col-sm-1 control-label">From</label>
                <div class="col-sm-2">
                    <input type="text" ng-model="ticket.promised_time_from" class="form-control" name="promisedFrom" required>
                </div>

                <label class="col-sm-1 control-label">To</label>
                <div class="col-sm-2">
                    <input type="text" ng-model="ticket.promised_time_to" class="form-control" name="promisedFrom" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Urgency</label>
                <div class="col-sm-5">
                    <div class="radio">
                        <label><input type="radio" value="0" ng-model="ticket.urgency" > Urgent</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" value="1" ng-model="ticket.urgency" > Normal</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" value="2" ng-model="ticket.urgency" > Postpone</label>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <alert ng-show="showAlert" type="{{ alertType }}">{{ alertMsg }}</alert>
                </div>
            </div>

           <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="mainform.$invalid">Create ticket</button>
                    <!-- <input type="submit" id="submit" value="Submit" /> -->

                    <button class="btn btn-default" type="reset">Reset fields</button>
                </div>
            </div>
        </fieldset>
        </form>
    </panel>
</div>