<form>
    <label for="assign_to">Assign to</label>
    <select id='assign_to' ng-model='assign_to' class='form-control'>
        <option value="6"></option>
    </select>

    <label for="dp_component">Due date</label>
    <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close"/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>

    <label for="dp_component">Task Description</label>
    <textarea cols="10" rows="3" class="form-control" ng-model='task_description'></textarea>
</form>